@{
    /**
    * Ryan Boldy
    * NETD
    * 12/12/2022
    * Lab 5
*/
    //Website homepage
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stock Co!</h1>
    <p>It is our mission to organize your stock sales!</p>
</div>
