@{
    /**
    * Ryan Boldy
    * NETD
    * 12/12/2022
    * Lab 5
*/
    //Website privacy statement
}

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    All sensisitve database information is hashed, and this is a locally hosted webpage, so unless you plan on hacking yourself
    you should be in the clear.
</p>
