@{
    /**
    * Ryan Boldy
    * NETD
    * 12/12/2022
    * Lab 5
*/
    //This page will allow the user to see the details of a buyer
}

@model Lab5.Models.Buyer

@{
    ViewData["Title"] = "Buyer Details";
}

<h1>Details</h1>

<div>
    <h4>Buyer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BuyerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
