@using Microsoft.AspNetCore.Identity
@model ForgotPasswordViewModel
@inject SignInManager<AppUser> SignInManager
@{
/**
* Ryan Boldy
* NETD
* 12/12/2022
* Lab 5
*/

    //This page asks for an email and inturn resets the password

    ViewData["Title"] = "Password Recovery";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Enter the email of your account</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Recover Password</button>
                </div>
            </form>
        </section>
    </div>
</div>